  <!-- footer section Start -->
	<footer>
		<div class="container-fluid footer-over pb-12"> 
			<h3 class="text-center">Cyber security centre managed by DIU CSC</h3>
		</div>
		<div class="footer-top pt-20 pb-15"> <!-- footer top start  -->
			<div class="container">
				<div class="col-sm-12 col-md-3"> 
					<h4>Events</h4>
					<ul class="list-style-none">
						<li><a href="#">Convocation </a></li>
						<li><a href="#">Foundation </a></li>
						<li><a href="http://artofliving.social/" target="_blank">Art of Living Parents' Day</a></li>
						<li><a href="http://laptop.daffodilvarsity.edu.bd/" target="_blank">One Student One Laptop</a></li>
						<li><a href="https://daffodilvarsity.edu.bd/page/show_page_detail/daffodil-guest-room-booking" target="_blank"> Daffodil Guest Room Booking</a></li>
					</ul>
				</div>
				<div class="col-sm-12 col-md-3">  
					<h4>Publication</h4>
					<ul class="list-style-none">
						<li><a href="http://newsletter-archive.daffodilvarsity.edu.bd/" target="_blank">Media Coverage</a></li>
						<li><a href="http://newsletter.daffodilvarsity.edu.bd/" target="_blank"> Newsletter</a></li>
						<li><a href="http://dsa.daffodilvarsity.edu.bd/index.php/e-newsletter" target="_blank">e-Newsletter</a></li>
						<li><a href="https://daffodilvarsity.edu.bd/page/show_page_detail/newspaper">Newspaper</a></li>
						<li><a href="http://diupress.com" target="_blank"></i> DIU Press</a></li>               
					</ul>
				</div>
				<div class="col-sm-12 col-md-3">  
					<h4>Research</h4>
					<ul class="list-style-none">
						<li><a href="https://daffodilvarsity.edu.bd/sub/diujst/" target="_blank">DIUJST</a></li>
						<li><a href="https://daffodilvarsity.edu.bd/photos/pdf/bba_journal16.pdf" target="_blank">DIUJBE</a></li>
						<li><a href="https://daffodilvarsity.edu.bd/sub/diujhss/" target="_blank">DIUJHSS</a></li>
						<li><a href="https://daffodilvarsity.edu.bd/sub/diujahs" target="_blank">DIUJAHS</a></li>
					</ul>
				</div>
				<div class="col-sm-12 col-md-3">  
					<h4>Useful Links</h4>
					<ul class="list-style-none">
						<li><a href="http://skill.jobs/" target="_blank"> Skill.jobs</a></li>
						<li><a href="http://campusradio.ac/" target="_blank"> Campus Radio</a></li>
						<li><a href="http://daffodil.com.bd/" target="_blank"> Daffodil Family</a></li>
						<li><a href="#"> Video Gallery</a></li>
						<li><a href="http://directory.daffodilvarsity.edu.bd/" target="_blank">Directory</a></li>
					</ul>
				</div>
			</div>
		</div><!-- footer top end  -->
		<section class="partner pt-20 pb-15"> <!-- Partner section  -->
			<div class="container">
				<div class="col-sm-3">
					<div class="panel">
					  <div class="panel-body">
						<h4><b>ABOUT CSC</b></h4>
						<p></p>
					  </div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="panel">
						<div class="panel-body">
						<h4><b>STAY CONNECTED</b></h4>
						<p>Follow us on social media</p>
						<a href="#"><i class="fab fa-facebook-square fa-2x"></i></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<img class="img-responsive center-block" src="img/isaca-logo.png" alt="" />
				</div>
				<div class="col-sm-3">
					<img class="img-responsive center-block" src="img/diulogo.png" alt="" />
				</div>
				
			</div>
		</section>
		<div class="copyright-zone pt-20"> <!-- footer copyright start -->
			<div class="container">
				<div class="col-sm-6 "> 
					<p class="pull-left">Copyright © 2018 Cyber Security Centre, DIU. All Rights Reserved</p>
				</div>
				<div class="col-sm-6 pull-right">
					<p class="pull-right">Developed By <a href="https://appsoliclab.com/" target="_blank" >Appsolic Lab</a> 
				</div>
			</div>
		</div><!-- footer copyright end -->
	</footer>
  <!-- footer section Start -->
</div>
  <script type="text/javascript" src="js/js.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>