<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Cyber Securtiy Center</title>
</head>

<body>
<div class="all-item">
  <header>
    <div class="top-menu">
      <div class="container">
        <nav class="navbar ">
          <div class="menu-left navbar-left">
            <ul class="nav navbar-nav">
              <li><a href="#">Login</a></li>
              <li><a class="disabled top-pad" id="slash">/</a></li>
              <li><a href="#" class="top-pad">Register</a></li>
            </ul>
          </div>
          <div class="menu-right navbar-right">
            <div class="nav navbar-nav fb-icon" id="fbx">
              <a href=""><i class="fab fa-facebook-f" id="fby"></i></a>
            </div>
            <form class="navbar-form navbar-left">
              <div class="form-group font-13">
                <input type="text" class="" placeholder="Search">
              </div>
              <div class="search-box font-13">
                <i class="fas fa-search"></i>
              </div>
            </form>

          </div>
        </nav>
      </div>
    </div>
    <div class="container">
      <div class="primary-menu1">
        <nav id='cssmenu'>
          <div class="row">
            <div class="col-md-4">
              <div class="logo"><a href="index.html"> <img src="img/logo.png" alt=""> </a></div>
            </div>

            <div class="col-md-8 p-menu" id='cssmenu'>
              <div id="head-mobile"></div>
              <div class="button"></div>
              <ul class="navbar-right">
                <li class="active"><a href='#'>HOME</a></li>
                <li><a href="service.html">SERVICES</a></li>
                <li><a href="research.html">RESEARCH</a></li>
                <li><a href="#">SCHEDULES</a>
                  <ul>
                    <li><a href="#">TRAINING</a>
                      <ul>
                        <li><a href="technical-trining.html">TECHNICAL</a></li>
                        <li><a href="vendor-training.html">VENDOR</a></li>
                      </ul>
                    </li>
                    <li><a href="#">AWERNESS</a>
                      <ul>
                        <li><a href="workshop.html">WORKSHOP</a></li>
                        <li><a href="seminar.html">SEMINAR</a></li>
                      </ul>
                    </li>
                    <ul>
                      <li><a href="#">Sub Product</a></li>
                      <li><a href="#">Sub Product</a></li>
                    </ul>
                </li>
              </ul>
              </li>
         <!-- <li><a href="news.html">NEWS</a></li> -->
              <li><a href="innovation.html">INNOVATION</a></li>
              <li><a href="contact.html">CONTACT</a></li>
              <!-- <li><a href="#">BIO</a>
                  <ul>
                    <li><a href='#'>Product 1</a>
                      <ul>
                        <li><a href='#'>Sub Product</a></li>
                        <li><a href='#'>Sub Product</a>
                          <ul>
                            <li><a href='#'>Sub Product</a></li>
                            <li><a href='#'>Sub Product</a>
                              <ul>
                                <li><a href='#'>Sub Product</a></li>
                                <li><a href='#'>Sub Product</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href='#'>Product 2</a>
                      <ul>
                        <li><a href='#'>Sub Product</a></li>
                        <li><a href='#'>Sub Product</a></li>
                      </ul>
                    </li>
                  </ul>
                </li> -->
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!--Header menu option End -->
 