* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}
.all-item{
  overflow:hidden;
}

/* -----Navbar Start------  */
.navbar {
  height: 152px;
  margin-bottom: 0px;
}

.top-menu {
  background: #E74C3C;
}

.top-menu ul li a {
  color: #FFFFFF;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
}

#slash, #slash:hover {
  color: white;
}

.top-pad {
  padding-left: 6px !important;
}

.menu-left {
  margin-left: -15px;
}

.menu-right {
  margin-right: -15px;
}

.main-menu {
  margin: 34px 0;
  padding-right: 40px;
}

.top-menu .nav>li>a:hover {
  background-color: unset;
  color: #414042;
}

.top-menu .nav>li>a:focus{
  background-color: unset !important;
}

.menu-right .nav i {
  color: #f04e45;
  font-size: 14px;
  margin: 5px 9.5px;
}

.navbar-left .form-group input {
  padding: 3px;
  padding-left: 15px;
  border: 1px blue;
  border-radius: 60px 0px 0px 60px;
  /* border-radius: 4px; */
}

.search-box {
  float: right;
  background: #FFFFFF;
  padding: 3px 10px;
  border-radius: 0px 60px 60px 0;
}

.fb-icon {
  background: white;
  margin-top: 9px;
  height: 24px;
  width: 26px;
  border-radius: 100%;
  cursor: pointer;
}

.fb-icon a {
  color: #f04e45;
}

.fb-icon:hover, .fb-icon i:hover {
  background: #414042;
  transition: .1s;
}

/* .fbx:hover ~ .fby {
   color: white !important;
 } */
.navbar {
  border-radius: unset !important;
}

.font-13 {
  font-size: 13px;
}

.top-menu .navbar-right input:focus {
  outline-offset: unset !important;
  outline: unset !important;
}

nav.navbar.navbar-default {
  height: 111px;
}

/* -----Navbar end------  */
/* search icon color */
i.fas.fa-search {
  color: #f04e45;
}

/* Norse Map */
#norse-map iframe {
  margin-top: -150px;
  border: unset !important;
}
#training-map img{ 
  margin-top: -148px;
  border: unset !important;
}
/*location map */
#location-map iframe {
  margin-top: -145px;
  border: unset !important;
}
/* -------------------------------------------------------------------- */
@media screen and (min-width:1001px) {
  .logo img {
    height: 150px;
    width: 250px;
    position: relative;
    top: -15px;
    margin-left: 10px;
  }

  .primary-menu1 {
    background: #F8F8F8;
    position: relative;
    bottom: 111px;
    height: 111px;
  }

  .p-menu {
    margin-top: 34px;
    padding-right: 55px;
  }
}

header {
  position: relative;
  width: 100%;
}

nav {
  position: relative;
  margin: 0 auto;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

#cssmenu:after,
#cssmenu>ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}

#cssmenu #head-mobile {
  display: none
}

#cssmenu {
  font-family: sans-serif;
}

#cssmenu>ul>li {
  float: left
}

#cssmenu>ul>li>a {
  padding: 17px;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000000;
}

#cssmenu>ul>li:hover>a

/* #cssmenu ul li.active a*/
  {
  color: #ffffff;
}

#cssmenu>ul>li:hover,
#cssmenu ul li.active:hover,
/* #cssmenu ul li.active, */
#cssmenu ul li.has-sub.active:hover {
  background: #e74c3c !important;
  -webkit-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
}

#cssmenu>ul>li.has-sub>a {
  padding-right: 30px
}

#cssmenu>ul>li.has-sub>a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: ''
}

#cssmenu>ul>li.has-sub>a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: '';
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}

#cssmenu>ul>li.has-sub:hover>a:before {
  top: 23px;
  height: 0
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  background: #f8f8f8;
  transition: all .25s ease
}

#cssmenu ul ul li:hover {
  background: #e74c3c;
}

#cssmenu li:hover>ul {
  left: auto
}

#cssmenu li:hover>ul>li {
  height: 35px
}

#cssmenu ul ul ul {
  margin-left: -100%;
  top: 0
}

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}

#cssmenu ul ul li:last-child>a,
#cssmenu ul ul li.last-item>a {
  border-bottom: 0
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
  color: #fff
}

#cssmenu ul ul li.has-sub>a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: ''
}

#cssmenu ul ul li.has-sub>a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: '';
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}

#cssmenu ul ul>li.has-sub:hover>a:before {
  top: 17px;
  height: 0
}

#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
  background: #E74C3C;
}

#cssmenu ul ul ul li.active a {
  border-left: 1px solid #333
}

#cssmenu>ul>li.has-sub>ul>li.active>a,
#cssmenu>ul ul>li.has-sub>ul>li.active>a {
  border-top: 1px solid #333
}

/* -------------------For mobile---------------- */
@media screen and (max-width:1000px) {
  header {
    position: relative;
    width: 100%;
    background: #F8F8F8;
  }
  .top-menu .menu-right{
    padding-left: 68px;
  }
  .navbar {
    height: 85px;
  }

  .navbar-nav {
    margin: unset;
  }

  .nav>li {
    display: inline-block;
  }

  .menu-right {
    padding-right: unset;
  }

  .menu-left {
    padding: unset;
    text-align: center;
  }

  .navbar-form {
    float: left;
    padding: unset;
    margin: 0 0 0 22px;
    -webkit-box-shadow:unset;
    box-shadow: unset;
  }

  .form-group {
    float: left;
  }

  .fb-icon {
    float: left;
  }

  .logo {
    position: absolute;
    padding: 0 0 0 10px;
  }

  .logo img {
    height: 80px;
    /* width: 126px; */
  }

  nav {
    width: 100%;
  }

  #cssmenu {
    width: 100%
  }

  #cssmenu ul {
    width: 100%;
    display: none
  }

  #cssmenu ul li {
    width: 100%;
    /* border-top: 1px solid #444; */
  }

  #cssmenu ul li:hover {
    background: #363636;
  }

  #cssmenu ul ul li,
  #cssmenu li:hover>ul>li {
    height: auto
  }

  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0
  }

  #cssmenu>ul>li {
    float: none
  }

  #cssmenu ul ul li a {
    padding-left: 25px
  }

  #cssmenu ul ul li {
    background: #333 !important;
  }

  #cssmenu ul ul li:hover {
    background: #363636 !important
  }

  #cssmenu ul ul ul li a {
    padding-left: 35px
  }

  #cssmenu ul ul li a {
    color: #ddd;
    background: none
  }

  #cssmenu ul ul li:hover>a,
  #cssmenu ul ul li.active>a {
    color: #fff
  }

  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left
  }

  #cssmenu>ul>li.has-sub>a:after,
  #cssmenu>ul>li.has-sub>a:before,
  #cssmenu ul ul>li.has-sub>a:after,
  #cssmenu ul ul>li.has-sub>a:before {
    display: none
  }

  #cssmenu #head-mobile {
    display: block;
    padding: 37px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700
  }

  .button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 15px;
    cursor: pointer;
    z-index: 12399994;
  }

  .button:after {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #E74C3C;
    border-bottom: 2px solid #E74C3C;
    content: ''
  }

  .button:before {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #E74C3C;
    content: ''
  }

  .button.menu-opened:after {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #E74C3C;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
  }

  .button.menu-opened:before {
    top: 23px;
    background: #E74C3C;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #444;
    height: 46px;
    width: 46px;
    cursor: pointer
  }

  #cssmenu .submenu-button.submenu-opened {
    background: #262626
  }

  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px
  }

  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
  }

  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px
  }

  #cssmenu .submenu-button.submenu-opened:after {
    background: #fff
  }

  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: ''
  }

  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px
  }

  #cssmenu .submenu-button.submenu-opened:before {
    display: none
  }

  #cssmenu ul ul ul li.active a {
    border-left: none
  }

  #cssmenu>ul>li.has-sub>ul>li.active>a,
  #cssmenu>ul ul>li.has-sub>ul>li.active>a {
    border-top: none
  }
}
/* -----Navbar End ------  */
/* ----- Padding class start------  */

.pt-5{
  padding-top: 5px;
}
.pt-10{
  padding-top: 10px;
}
.pt-20{
  padding-top: 20px;
}
.pt-30{
  padding-top: 30px;
}
.pt-40{
  padding-top: 40px;
}
.pt-50 {
    padding-top: 50px;
}
.pr-5{
  padding-right: 5px;
}
.pb-10{
  padding-bottom: 10px;
}
.pb-12{
  padding-bottom: 12px;
}
.pb-15{
  padding-bottom: 15px;
}
.pb-20{
  padding-bottom: 20px;
}
.pb-30{ 
  padding-bottom: 30px;
}
.pb-40{
  padding-bottom: 40px;
}
/* ----- Padding class End------  */

/* --------------------------
--------Research Section start ------  */
.research  img{
  width : 255px;
}
.research p{
  line-height: 23px;
}
/* ----- Carousel start------  */

.carousel-caption{
  background:#e74c3c;
  opacity: 0.8;
  -webkit-box-shadow: -1px 4px 88px -16px rgba(0,0,0,1);
  -moz-box-shadow: -1px 4px 88px -16px rgba(0,0,0,1);
  box-shadow: -1px 4px 88px -16px rgba(0,0,0,1);
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}


/* ----- Carousel End------  */

/* --------------------------
----------Research Section End ------  */


/* ---- Publication Section start ------  */
.publication .panel{
  background:#e74c3c;
  color: #fff;
  border-radius:unset;
  padding-top:10px;
  padding-bottom:10px;

}
.publication .panel-body{
  color: #fff;
  padding-top:5px;
  font-size:16px;
  font-family: monospace;
}
.publication .panel-footer{
  background:#e74c3c;
  color: #fff;
  padding-top:5px;
  font-size:14px;
  font-family: monospace;
  padding-bottom: 15px;
}
.publication .panel:hover{
  -webkit-box-shadow: -1px 4px 88px -16px rgba(0,0,0,1);
  -moz-box-shadow: -1px 4px 88px -16px rgba(0,0,0,1);
  box-shadow: -1px 4px 88px -16px rgba(0,0,0,1);
  cursor:pointer;
}


/* ---- Publication Section End ------  */

/* project section start */
.project .panel{
  border: unset;
  border-radius: unset;
  margin-bottom: 0;
}
.project .panel1{
  background: #F2F2F2;
}
.project .panel2{
  background: #E5E5E5;
}
.project .col-sm-12,
.project .col-md-4,
.project .col-lg-4{
  padding: 0;
}
.project .panel .panel-heading{
  text-align: center;
  padding-bottom: 0;
}
.project .panel .panel-heading h1 {
  font-size: 23px;
    font-weight: bold;
}
.project .panel .panel-body {
    padding: 0 15px;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}
.project .panel .panel-body h2{
  color: #000;
    font-size: 1.5rem;
    line-height: 1.4;
}
.project .panel .project-links{
  text-align: center;
    font-size: 40px;
}
.project .panel:hover{
box-shadow: -1px 4px 88px -16px rgba(0,0,0,1);
transition:.5s;
}

/* project section End */

/* Events section start */
.events hr{
  width: 5%;
  color: #E74C3C;
  background-color: #E74C3C;
  height: 3px;
}
.single-event{
  display:inline-block;
}
.events .single-event a{ 
  color: #898989;
}
.events .single-event a:hover{ 
  color: #e74c3c;
  text-decoration:none;
}
.events img{
    width: 250px;
    margin-top: 5px;
}
.events h1{
  font-size: 55px;
}

.color-main{
  color: #E74C3C;
}/* color code code */
.font-12{
  font-size:12px;
}
.br-1{
  border-right: 1px solid #e3e3e3;
}

/* Events section Ends */

/* seminar details section start */
.SEMINAR_DETAILS.head{ 
  text-align: center;
}
/* seminar details section end */

/* footer section start*/
/* footer-top Section*/
.footer-over{
  background: #E74C3C;
}
.footer-over h3{
  color: #fff;
}
footer .footer-top{
  background:#F2F2F2;
}
.list-style-none{
  list-style-type: none;
}
footer .footer-top ul li { 
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
}
.footer-top ul li a {
    color: #898989;
}
.footer-top ul li a:hover{
  color: #e74c3c;
  text-decoration:none;
}
.footer-top h4{
  font-weight : bolder;
}
/*partnet*/
.partner{
  background:#EBEBEB;
}

/* footer-top Section*/
.copyright-zone{ 
  background: #e5e5e5;
}
.copyright-zone a{
  color: #3498db;
  font-weight: bolder;
}
.copyright-zone  a:hover{
  color:#E74C3C;
  text-decoration:none;
}

/* footer section End*/

/* Contact us page  */
.contact-us hr{
  width: 5%;
  color: #E74C3C;
  background-color: #E74C3C;
  height: 3px;
}
.contact-us .btn{ 
  background:#E74C3C;
  color: #fff;
}
.test{
  font-size :19px;
}
.test table{ 
  width : 50%;
  margin: 30px auto;
  border-collapse:collapse;
  text-align : left;
}
.test table tr{
  border-bottom: 1px solid #cbcbcb;
}

.test table th,td{
  border:none;
  height:30px;
  padding:2px;
}
.test table tr:hover{ 
  background: #f5f5f5;
}
.test .input-group{ 
  margin: auto;
}
.test .sel{
  margin: 50px auto;
  width: 25%;
}
